apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  namespace: {{ .k8sNamespace }}
spec:
  replicas: {{ .nginxReplicas }}
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx
          image: nginx:stable-alpine
          ports:
            - containerPort: 80
